# Discord bot
DISCORD_BOT_TOKEN=
BOT_PREFIX=;

# Application version
APP_VERSION=Nightly 2977
APP_VERSION_DATE=2026.07.21.

# Naver Papago
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# OpenAI
OPENAI_API_KEY=

# Kakao TTS
KAKAO_REST_API_KEY=

# Korean Standard Dictionary
KOREAN_DICTIONARY_API_KEY=
