discord.py==2.7.1
Flask==3.0.1
Flask-Compress==1.14
gevent==23.9.1
konlpy==0.6.0
korean-lunar-calendar==0.4.0
numpy==1.26.3
openai==2.30.0
openpyxl==3.1.2
Pillow==10.2.0
pydantic==2.12.5
PyNaCl==1.5.0
python-dotenv==1.0.1
PyYAML==6.0.1
requests==2.25.1
tqdm==4.66.1
